a {
    color: red;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    opacity: 70%;
    transition: all 0.2s ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

col-4 {
    display: flex;
    justify-content: center;
}

footer {
    background: black;
    border-top: 2px solid red;
    color: white;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}

h1 {
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 20px;
    text-align: left;
}

hr {
    border: 2px solid red;
    margin: 0 auto 40px;
    opacity: 100;
    width: 62%;
}

.hr-mini {
    border: 2px solid red;
    margin: 0 auto 40px;
    opacity: 100;
    width: 20%;
}

.about-img {
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 10px auto;
    max-width: 60%;
}

.about-container {
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    padding:20px 15px;
    text-align: left;
    width: 80%;
}

.about-paragraphs {
    display: inline-block;
}

.abv {
    color: red;
    font-weight: 700;
}

.banner {
    max-width:100%;
    margin-bottom: 20px;
}

.collections-banner {
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 80%;
}

.collection-container {
    display: block;
    margin: 20px auto;
    padding: 20px;
}

.collection-headline {
    display: flex;
    justify-content: center;
    margin: 20px auto 50px;
    width: 80%;
}

.collection-info {
    display: block;
    font-size: 24px;
    margin: 20px auto;
    max-width: 80%;
}

.homepage-container {
    display: flex;
    justify-content: space-between;
}

.homepage-heading {
    font-weight: 700;
    margin-bottom:0;
    padding-bottom:5px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 420px;
    left: 380px;
    width: 630px;
}

.nav-logo {
    max-width: 100px;
    height: auto;
}

.page-header {
    margin-top: 70px;
}

.square-image {
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 10px auto 35px;
    max-width: 360px;
    padding: 0;
}

@media (max-width: 1400px) {
    .collection-info h3 {
        font-size: 20px;
}

    .square-image {
        height: auto;
        max-width: 200px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 24px;
        margin-top: 20px;
        padding: 0;
    }

    .collection-container {
        display: block;
        Margin: 20px auto;
    }

    .collection-container h2 {
        text-align: center;
    }

    .collection-item-description {
        text-align: center;
    }

    .homepage-heading {
        font-size: 20px;
    }

    .square-image {
        height: auto;
        max-width: 100px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 18px;
    }

    .collection-info h3 {
        font-size: 16px;
    }
}

#cuspir {
    max-height: 500px;
    width: auto;
}